
body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-container img{
    max-width: 300px;
    border-radius: 1px;
}

.btn{
    font-family: 'Outfit', sans-serif;
    background: pink;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}