
body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-container img{
    max-width: 300px;
}

.fire-btn{
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    background: pink;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn{
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    background: pink;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.rejtett-tartalom {
    font-family: 'Outfit', sans-serif;
    display: none; 
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    border-left: 5px solid pink; 
    animation: fadeIn 0.5s; 
}

.text {
    font-style: italic;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}